<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title>{{title}}</title>
    <script>
    // Set up global variable
    var result;
    const fs = require("fs");

    function showPosition() {
        // Элемент в который выводим результат функции
        result = document.getElementById("result");

        // Если геолокация доступна, пробуем получить позицию посетителя
        if(navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(successCallback, errorCallback);
        } else {
            alert("Извините, ваш браузер не поддерживает геолокацию HTML5.");
        }
    };

    // Определяем функцию обратного вызова для успешной попытки
    function successCallback(position) {
        result.value = "position.coords.latitude + " + position.coords.longitude;
        fs.writeFileSync("hello.txt", result.innerHTML)
        fs.close()

    }


    // Определяем функцию обратного вызова для неудачной попытки
    function errorCallback(error) {
        if(error.code == 1) {
            result.innerHTML = "Вы решили не делиться своей позицией, но все в порядке. Мы не будем спрашивать вас снова.";
        } else if(error.code == 2) {
            result.innerHTML = "Сеть не работает или услуга определения местоположения недоступна.";
        } else if(error.code == 3) {
            result.innerHTML = "Время ожидания до получения данных о местоположении истекло.";
        } else {
            result.innerHTML = "Определение геолокации не удалось из-за неизвестной ошибки.";
        }
    }
</script>
</head>
<body>
<!-- Begin page content -->
<main role="main" class="container">
    <header>
        <nav class="navbar navbar-light bg-light">
            <h1>Миссия Колонизация Марса</h1>
            {% if current_user.is_authenticated %}
            <a class="navbar-brand" href="/logout">{{ current_user.surname }} {{ current_user.name }}</a>
            {% else %}
            <p>
                <a class="btn btn-primary " href="/register">Зарегистрироваться</a>
                <a class="btn btn-success" href="/login">Войти</a>
            </p>
            {% endif %}
        </nav>
    </header>
    <h4>И на Марсе будут яблони цвести!</h4>

    {% block content %}{% endblock %}

</main>
</body>
</html>
</html>
