<!DOCTYPE html>
<html lang="en">
<head >
    <meta charset="utf-8">
</head>
<body>
<h1>Проверка адреса электронной почты</h1>
<h1>Чтобы завершить настройку учетной записи, нам нужно убедиться в том, что этот адрес электронной почты принадлежит вам</h1>
<form action="" method="post" class="autho">
    <a>Привет</a>
<button onclick="window.location.href = 'http://192.168.67.215:5000/login/email'" style="
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    background: blue;
    color: white;
    text-decoration: none;">Подтвердить адрес электронной почты</button>
<h4>С уважением.</h4>
</form>
</body>
</html>